<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>株式会社biznew ホームページ</title>
  <link rel="stylesheet" href="shows.css">
</head>
<body>
  <header>
    <div class="main_info"> 
      <div class="company_name">合同会社ビスニュー
      </div>
      <div class="phone_number">TEL:080-4392-9201
      </div>
    </div>
    <div class="contents_info">
      <div class="company_profiles">会社概要
      </div>
      <div class="agency_business">代理店事業
      </div>
      <div class="event_consultant">催事コンサルタント
      </div>
      <div class="business_matching">ビジネスマッチング
      </div>
      <div class="hp_business">ホームページ事業
      </div>
    </div>
    </header>
  <div class="main_box">
    <div class="main_image">
    <img src="premium_water.jpg">
    </div>
  </div>
  <footer>
    <div class="footer_main">
      <div class="production">powered by  Ruby on Rails
      </div>
      <div class="producer">Copyright © 2020 biznew inc. All Rights Reserved.
      </div>
    </div>
  </footer>

</body>