.main_info{
  height: 100px;
  width: 100vw;
  background-color: greenyellow;
  display: flex;
}

.company_name{
  height: 100px;
  width: 50%;
  background-color: aqua;
}

.phone_number{
  height: 100px;
  width: 50%;
  background-color: burlywood;
}

.contents_info{
  height: 70px;
  width: 100vw;
  display: flex;
}

.company_profiles{
  height: 70px;
  width: 20%;
  background-color: yellow;
  line-height: 70px;
  text-align: center;
}

.agency_business{
  height: 70px;
  width: 20%;
  background-color: orange;
  line-height: 70px;
  text-align: center;
}

.event_consultant{
  height: 70px;
  width: 20%;
  background-color: yellow;
  line-height: 70px;
  text-align: center;
}

.business_matching{
  height: 70px;
  width: 20%;
  background-color: orange;
  line-height: 70px;
  text-align: center;
}

.hp_business{
  height: 70px;
  width: 20%;
  background-color: yellow;
  line-height: 70px;
  text-align: center;
}

.main_box{
  height: 100vh;
  width: 100vw;
  background-color: gray;
}

.main_image{
  height: 100vh;
  width: 100vw;
}

.footer_main{
  height: 200px;
  width: 100vw;
  background-color: black;
}

.production{
  height: 100px;
  width: 100vw;
  color: white;
  line-height: 200px;
  text-align: center;
}

.producer{
  height: 100px;
  width: 100vw;
  color: white;
  line-height: 100px;
  text-align: center;
}
